# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Env
.env

# Supabase temp
supabase/.temp/

# Remote placeholders (si aparecen)
supabase/migrations/*_remote_placeholder.sql

# Optional: Bun lockfile (si NO usas bun)
bun.lockb